@use "../base/varibles";

textarea {
  font-family: varibles.$font-family-primary;
  padding: 0.5em 1em;
  border: none;
  width: 20em;

  color: #e1e1e1;
  background: #1e1e1e;

  &::placeholder {
    color: #cfcfcf;
    opacity: 0.36;
  }

  resize: vertical;
  height: 150px;
  max-height: 300px;

  &:focus {
    outline: none;
  }
}
