// Varibles file

// Font & Text
// font-family
$font-family-primary: "Prompt", sans-serif;

// font-size
$font-size-h1: 80px;
$font-size-h2: 32px;
$font-size-h3: 28px;
$font-size-h4: 20px;
$font-size-h5: 17px;
$font-size-h6: 14px;
$font-size-h7: 13px;
$font-size-h8: 12px;
$font-size-h9: 9px;
$font-size-h10: 8px;
$font-size-h11: 7px;
