// 1. Background
$color-background: #121212;
// 2. Surface
$color-surface: #1e1e1e;
$color-surface-hover: #181818;
// 3. Primary
$color-primary: #bb86fc;
$color-primary-hover: #9641ff;
// 4. Secondary
$color-secondary: #03dac6;
// 5. On background
$color-on-background: #cfcfcf;
// 6. On Surface
$color-on-surface: #e1e1e1;
// 7. On Primary
$color-on-primary: #100c16;
// 8. On Secondary
$color-on-secondary: #000a0a;

body.dark-theme {
  background: $color-background;
  color: $color-on-background;

  .navbar {
    background: $color-surface;
    color: $color-on-surface;

    li {
      &:hover {
        background: $color-surface-hover;
      }
    }
  }

  .daily-tasks {
    background: $color-surface;
    color: $color-on-surface;

    .daily-task {
      &:hover {
        background: $color-surface-hover;
      }
    }

    .create-task-button {
      background: $color-primary;
      color: $color-on-primary;
      &:hover {
        background: $color-primary-hover;
      }
    }
  }
}
