@use "../base/varibles";

.CreateTaskPage {
  display: flex;
  flex-wrap: wrap;

  .container {
    width: 100%;
    margin-top: 1em;
    display: flex;

    column-gap: 3em;

    .left {
      display: flex;
      flex-direction: column;

      row-gap: 1em;

      input,
      textarea {
        width: 310px;
        max-width: 310px;
      }

      select {
        width: 100%;
      }
    }

    .right {
      flex: 1;

      form {
        display: flex;
        width: 722px;

        column-gap: 1em;

        input {
          width: 40%;
        }

        button {
          width: 30%;
        }

        margin-bottom: 1em;
      }

      .activity-list {
        display: flex;
        flex-direction: column;
        row-gap: 1em;

        .activity {
          display: flex;
          align-items: center;

          column-gap: 1em;

          background: #1e1e1e;

          width: 675px;
          height: 95px;
          padding: 0 1.5em;

          .activity-name {
            font-size: varibles.$font-size-h5;
          }

          .time-count {
            margin-left: auto;
            font-size: varibles.$font-size-h4;
          }

          .icon {
            width: varibles.$font-size-h3;
            height: varibles.$font-size-h3;
          }
        }
      }
    }
  }
}
