@use "../base/varibles";

.DashboardPage {
  display: flex;
  flex-direction: column;

  h4 {
    margin: 1em 0;
  }

  .header {
    .user-display {
      margin: 0 0 0 auto;
      display: flex;
      align-items: center;
      column-gap: 1em;

      .user-infomation {
        font-size: varibles.$font-size-h5;
        text-align: right;

        display: flex;
        flex-direction: column;
        row-gap: 0.3em;

        p:last-child {
          opacity: 0.6;
        }
      }

      img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }
    }
  }

  .Chart {
    .chart-header {
      padding-top: 2em;
      display: flex;
      align-items: center;
      column-gap: 1em;
      row-gap: 1em;

      select {
        width: 150px;
      }
    }
  }
}
