@use "../base/varibles";

.Card {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1.5em 1.2em;
  width: 300px;

  border-radius: 1em;

  background: #1e1e1e;

  .card-icon {
    width: 30px;
    height: 30px;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    row-gap: 0.4em;

    align-items: center;

    padding: 0 1em;

    flex: 1;

    p {
      font-size: varibles.$font-size-h6;
      line-height: 1.2em;
    }

    .highlight {
      font-size: varibles.$font-size-h5;
      font-weight: 700;
    }
  }
}
