@use "../base/varibles";

.CreateTaskFrom {
  font-family: varibles.$font-family-primary;
  padding: 1.5em;
  width: 400px;

  h2 {
    font-size: varibles.$font-size-h2;
  }

  form {
    display: flex;
    flex-wrap: wrap;

    label {
      margin-top: 20px;
      margin-bottom: 5px;
      width: 100%;
    }
  }

  button {
    margin-top: 20px;
    padding:10px;
  }
}
