@use "../base/varibles";
@use "../base/mixins";

.daily-tasks {
  font-family: varibles.$font-family-primary;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  width: 400px;

  padding: 1.5em;

  h2 {
    font-size: varibles.$font-size-h2;
  }

  .daily-tasks-group {
    display: flex;
    column-gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;

    .daily-task {
      display: flex;
      column-gap: 10px;
      padding: 10px;
      align-items: center;
      width: 100%;
      cursor: pointer;

      @include mixins.transition;

      .daily-task-icon {
        width: 30px;
        height: 30px;
      }

      .daily-task-content {
        display: flex;
        justify-content: space-between;
        width:100%;
      }
    }
  }

  .create-task-button {
    padding: 10px;
  }
}
