@use "../base/varibles";
@use "../base/mixins";

.navbar {
  font-family: varibles.$font-family-primary;

  .navbar-content {
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    // .navbar-logo {
    //   height: 50px;
    //   width: 100px;
    // }

    ul.navbar-menu {
      display: flex;

      li {
        @include mixins.transition;
        padding: 20px 40px;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }

    .navbar-user-profile {
      height: 45px;
      width: 45px;
      background-color: #fff;
      border-radius: 50%;
    }
  }
}
